
.header
{
height:300px;
width:990px;
margin-left:auto;
margin-right:auto;
background-color:#CC9999;
}
.header1
{
height:250px;
width:990px;
}
.logo
{
height:250px;
width:990px;
float:left;
}
.name
{
height:250px;
width:740px;
}
.main
{
position:relative;
top:100px;
left:250px;
font-size: 24px;
}
.menu
{
height:50px;
width:990px;
background-color:pink;
}
.menu ul li
{
display:inline;
padding:35px;
}
.menu ul li a
{
text-decoration:none;
}
.footer
{
height:100px;
width:990px;
margin-left:auto;
margin-right:auto;
background-color:#CCCC99;
}
.copy
{
float:left;
}
.design
{
top:90px;
left:800px;
float:right;
}
.home
{
height:500px;
width:990px;
margin-left:auto;
margin-right:auto;
background-color:#66CCFF;
}
.image
{
height:500px;
width:495px;
float:left;
}
.content
{
height:500px;
width:495px;
float:right;
}
.about
{
height:500px;
width:990px;
margin-left:auto;
margin-right:auto;
background-color:#666699;
}
.img1
{
height:250px;
width:495px;
float:left;
}
.img2
{
height:250px;
width:495px;
float:right;
}
.content1
{
height:250px;
width:990px;
float:left;
}
.service
{
height:500px;
width:990px;
margin-left:auto;
margin-right:auto;
background-color:#CC99CC;
}
.contact
{
height:500px;
width:990px;
margin-left:auto;
margin-right:auto;
background-color:grey;
}
.map
{
height:300px;
width:990px;
float:left;
}
.contact1
{
height:200px;
width:495px;
float:left;
}
.address
{
height:200px;
width:495px;
float:right;
}
.register
{
height:500px;
width:990px;
margin-left:auto;
margin-right:auto;
background-color:#CC99CC;
}

.viewdata
{
height:500px;
width:990px;
margin-left:auto;
margin-right:auto;
background-color:#66CCFF;
}